 <!DOCTYPE html>
 <html>
 <head>
 	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 	<title>Everyday I Will For One Month</title>
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

 	<style>
 		.comment {
 			outline: 0;
 			border: 0;
 		}
 		.comment:focus {
 			border: 1px solid #ccc;
 		}

		.log-entry .label-inline {
			font-family: monospace;
			font-size: 1.2em;
		}
 	</style>
 </head>
