<nop><% include ../partials/head.ejs %></nop>

<body>
    <div class="container">
        <h1>August</h1>
        <h2>I will do acrobatics everyday</h2>
        <h3>Rules:</h3>
        <div class="debug"></div>
        <ul>
            <li>Do at least 20 min of acrobatics. (Can include capoeria session).</li>
            <li>Film one thing from the session everyday.</li>
        </ul>
        <div class="kpi">
            <div class="before">
                <h4></h4>
                <div class="stat"></div>
            </div>
            <div class="before">
                <h4></h4>
                <div class="stat"></div>
            </div>
        </div>

        <div class="log container">
            <div id="log/01-august-2017" class='log-entry' data-key="log/01-august-2017">
                <label class="label-inline">01</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/02-august-2017" class='log-entry' data-key="log/02-august-2017">
                <label class="label-inline">02</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/03-august-2017" class='log-entry' data-key="log/03-august-2017">
                <label class="label-inline">03</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/04-august-2017" class='log-entry' data-key="log/04-august-2017">
                <label class="label-inline">04</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/05-august-2017" class='log-entry' data-key="log/05-august-2017">
                <label class="label-inline">05</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/06-august-2017" class='log-entry' data-key="log/06-august-2017">
                <label class="label-inline">06</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/07-august-2017" class='log-entry' data-key="log/07-august-2017">
                <label class="label-inline">07</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/08-august-2017" class='log-entry' data-key="log/08-august-2017">
                <label class="label-inline">08</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/09-august-2017" class='log-entry' data-key="log/09-august-2017">
                <label class="label-inline">09</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/10-august-2017" class='log-entry' data-key="log/10-august-2017">
                <label class="label-inline">10</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/11-august-2017" class='log-entry' data-key="log/11-august-2017">
                <label class="label-inline">11</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/12-august-2017" class='log-entry' data-key="log/12-august-2017">
                <label class="label-inline">12</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/13-august-2017" class='log-entry' data-key="log/13-august-2017">
                <label class="label-inline">13</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/14-august-2017" class='log-entry' data-key="log/14-august-2017">
                <label class="label-inline">14</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/15-august-2017" class='log-entry' data-key="log/15-august-2017">
                <label class="label-inline">15</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/16-august-2017" class='log-entry' data-key="log/16-august-2017">
                <label class="label-inline">16</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/17-august-2017" class='log-entry' data-key="log/17-august-2017">
                <label class="label-inline">17</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/18-august-2017" class='log-entry' data-key="log/18-august-2017">
                <label class="label-inline">18</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/19-august-2017" class='log-entry' data-key="log/19-august-2017">
                <label class="label-inline">19</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/20-august-2017" class='log-entry' data-key="log/20-august-2017">
                <label class="label-inline">20</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/21-august-2017" class='log-entry' data-key="log/21-august-2017">
                <label class="label-inline">21</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/22-august-2017" class='log-entry' data-key="log/22-august-2017">
                <label class="label-inline">22</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/23-august-2017" class='log-entry' data-key="log/23-august-2017">
                <label class="label-inline">23</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/24-august-2017" class='log-entry' data-key="log/24-august-2017">
                <label class="label-inline">24</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/25-august-2017" class='log-entry' data-key="log/25-august-2017">
                <label class="label-inline">25</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/26-august-2017" class='log-entry' data-key="log/26-august-2017">
                <label class="label-inline">26</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/27-august-2017" class='log-entry' data-key="log/27-august-2017">
                <label class="label-inline">27</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/28-august-2017" class='log-entry' data-key="log/28-august-2017">
                <label class="label-inline">28</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/29-august-2017" class='log-entry' data-key="log/29-august-2017">
                <label class="label-inline">29</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/30-august-2017" class='log-entry' data-key="log/30-august-2017">
                <label class="label-inline">30</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
        </div>
    </div>
</body>
<script id="config"
data-config='{"thisMonth": 8, "thisYear": 2017, "thisMonthName": "august"}'
></script>
<nop><% include ../partials/footer.ejs %></nop>
</html>
