<nop><% include ../partials/head.ejs %></nop>

<body>
	<div class="container">
		<h1>July</h1>
		<h2>I will fast everyday</h2>
		<h3>Rules:</h3>
		<ul>
			<li>Twice a week: eat breakfast only (up to 10 am).</li>
			<li>Remaining 5 days: eat within 8 hour period (e.g. First mouthfull at 9am last mouthfull at 5pm).</li>
			<li>Try avoid stuffing yourself during eating periods.</li>
			<li>If extremely hungry in fasting period, take creatine / BCAA supplement to avoid atrophy.</li>
			<li>Water, coffee and tea are allowed provided no sugar, milk or honey in the drink.</li>
		</ul>
		<div class="kpi">
			<div class="before">
				<h4>Before</h4>
				<div class="stat">74Kg</div>
			</div>
			<div class="before">
				<h4>After</h4>
				<div class="stat"></div>
			</div>
		</div>

		<div class="log">
			<div id="log/01-july-2017" data-key="log/01-july-2017">
				<label class="label-inline">01</label>
				<input class="done" type="checkbox" checked="checked">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/02-july-2017" data-key="log/02-july-2017">
				<label class="label-inline">02</label>
				<input class="done" type="checkbox" checked="checked">
				<input class="comment input-inline" type="text" value="Breakfast only">
			</div>
			<div id="log/03-july-2017" data-key="log/03-july-2017">
				<label class="label-inline">03</label>
				<input class="done" type="checkbox" checked="checked">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/04-july-2017" data-key="log/04-july-2017">
				<label class="label-inline">04</label>
				<input class="done" type="checkbox" checked="checked">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/05-july-2017" data-key="log/05-july-2017">
				<label class="label-inline">05</label>
				<input class="done" type="checkbox" checked="checked">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/06-july-2017" data-key="log/06-july-2017">
				<label class="label-inline">06</label>
				<input class="done" type="checkbox" checked="checked">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/07-july-2017" data-key="log/07-july-2017">
				<label class="label-inline">07</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/08-july-2017" data-key="log/08-july-2017">
				<label class="label-inline">08</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/09-july-2017" data-key="log/09-july-2017">
				<label class="label-inline">09</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/10-july-2017" data-key="log/10-july-2017">
				<label class="label-inline">10</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/11-july-2017" data-key="log/11-july-2017">
				<label class="label-inline">11</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/12-july-2017" data-key="log/12-july-2017">
				<label class="label-inline">12</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/13-july-2017" data-key="log/13-july-2017">
				<label class="label-inline">13</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/14-july-2017" data-key="log/14-july-2017">
				<label class="label-inline">14</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/15-july-2017" data-key="log/15-july-2017">
				<label class="label-inline">15</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/16-july-2017" data-key="log/16-july-2017">
				<label class="label-inline">16</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/17-july-2017" data-key="log/17-july-2017">
				<label class="label-inline">17</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/18-july-2017" data-key="log/18-july-2017">
				<label class="label-inline">18</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/19-july-2017" data-key="log/19-july-2017">
				<label class="label-inline">19</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/20-july-2017" data-key="log/20-july-2017">
				<label class="label-inline">20</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/21-july-2017" data-key="log/21-july-2017">
				<label class="label-inline">21</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/22-july-2017" data-key="log/22-july-2017">
				<label class="label-inline">22</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/23-july-2017" data-key="log/23-july-2017">
				<label class="label-inline">23</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/24-july-2017" data-key="log/24-july-2017">
				<label class="label-inline">24</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/25-july-2017" data-key="log/25-july-2017">
				<label class="label-inline">25</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/26-july-2017" data-key="log/26-july-2017">
				<label class="label-inline">26</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/27-july-2017" data-key="log/27-july-2017">
				<label class="label-inline">27</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/28-july-2017" data-key="log/28-july-2017">
				<label class="label-inline">28</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/29-july-2017" data-key="log/29-july-2017">
				<label class="label-inline">29</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/30-july-2017" data-key="log/30-july-2017">
				<label class="label-inline">30</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
			<div id="log/31-july-2017" data-key="log/31-july-2017">
				<label class="label-inline">31</label>
				<input class="done" type="checkbox">
				<input class="comment input-inline" type="text" value="">
			</div>
		</div>
	</div>
</body>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDo-Wj5pqSFF5TJq2jf7h-4_ed1phQPBBc",
    authDomain: "efomiw.firebaseapp.com",
    databaseURL: "https://efomiw.firebaseio.com",
    projectId: "efomiw",
    storageBucket: "",
    messagingSenderId: "714233232984"
  };
  firebase.initializeApp(config);
</script>
<script>
	function daysInMonth(anyDateInMonth) {
	    return new Date(anyDateInMonth.getYear(),
	                    anyDateInMonth.getMonth()+1,
	                    0).getDate();}

	var database = firebase.database();
	var thisMonth = 07
	var thisYear = 2017
	var thisDate = new Date()
	thisDate.setMonth(thisMonth)
	thisDate.setYear(thisYear)

	var elements = [];
	for (var i = 0; i < daysInMonth(thisDate); i ++) {
		var day = i + 1;
		var dayString = day < 10 ? '0' + day : day.toString();
		var key = `log/${dayString}-july-2017`
		var ref = database.ref(key)
		var element = $('div[id="' + key + '"');
		var values = [];
		ref.on('value', (function (element) {return function (snap) {
			var data = snap.val() || {};
			values.push(data)
			var comment = data.comment;
			var done = data.done;
			if (done) {
				element.find('.done').attr('checked', 'checked')
			}
			if (comment) {
				element.find('.comment').val(comment)
			}
		}})(element));
		element.find('.done').click(function (event) {
			var target = $(event.target);
			var key = target.parent().attr('data-key')
			database.ref(key).update({'done': target.is(':checked')})
		})
		element.find('.comment').on('change', function (event) {
			var target = $(event.target);
			var key = target.parent().attr('data-key')
			database.ref(key).update({'comment': target.val()})
		})
		elements.push(element)
	}
	console.info(values);
</script>
</html>
