<nop><% include ../partials/head.ejs %></nop>

<body>
    <div class="container">
        <h1>September</h1>
        <h2>I will contact a stranger everyday</h2>
        <h3>Rules:</h3>
        <ul>
            <li>Must be a total stranger.</li>
            <li>Can be by phone / email / message.</li>
            <li>In the inital message suggest a time and place to meet.</li>
        </ul>
        <h3>Objective:</h3>
        <ul>
            <li>Create community in Guadeloupe.</li>
            <li>Find people with similar intersts</li>
            <li>Find job opportunities.</li>
        </ul>
        <div class="debug"></div>
        <div class="kpi">
            <div class="before">
                <h4></h4>
                <div class="stat"></div>
            </div>
            <div class="before">
                <h4></h4>
                <div class="stat"></div>
            </div>
        </div>

        <div class="log container">
            <div id="log/01-september-2017" class='log-entry' data-key="log/01-september-2017">
                <label class="label-inline">01</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/02-september-2017" class='log-entry' data-key="log/02-september-2017">
                <label class="label-inline">02</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/03-september-2017" class='log-entry' data-key="log/03-september-2017">
                <label class="label-inline">03</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/04-september-2017" class='log-entry' data-key="log/04-september-2017">
                <label class="label-inline">04</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/05-september-2017" class='log-entry' data-key="log/05-september-2017">
                <label class="label-inline">05</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/06-september-2017" class='log-entry' data-key="log/06-september-2017">
                <label class="label-inline">06</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/07-september-2017" class='log-entry' data-key="log/07-september-2017">
                <label class="label-inline">07</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/08-september-2017" class='log-entry' data-key="log/08-september-2017">
                <label class="label-inline">08</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/09-september-2017" class='log-entry' data-key="log/09-september-2017">
                <label class="label-inline">09</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/10-september-2017" class='log-entry' data-key="log/10-september-2017">
                <label class="label-inline">10</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/11-september-2017" class='log-entry' data-key="log/11-september-2017">
                <label class="label-inline">11</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/12-september-2017" class='log-entry' data-key="log/12-september-2017">
                <label class="label-inline">12</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/13-september-2017" class='log-entry' data-key="log/13-september-2017">
                <label class="label-inline">13</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/14-september-2017" class='log-entry' data-key="log/14-september-2017">
                <label class="label-inline">14</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/15-september-2017" class='log-entry' data-key="log/15-september-2017">
                <label class="label-inline">15</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/16-september-2017" class='log-entry' data-key="log/16-september-2017">
                <label class="label-inline">16</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/17-september-2017" class='log-entry' data-key="log/17-september-2017">
                <label class="label-inline">17</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/18-september-2017" class='log-entry' data-key="log/18-september-2017">
                <label class="label-inline">18</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/19-september-2017" class='log-entry' data-key="log/19-september-2017">
                <label class="label-inline">19</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/20-september-2017" class='log-entry' data-key="log/20-september-2017">
                <label class="label-inline">20</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/21-september-2017" class='log-entry' data-key="log/21-september-2017">
                <label class="label-inline">21</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/22-september-2017" class='log-entry' data-key="log/22-september-2017">
                <label class="label-inline">22</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/23-september-2017" class='log-entry' data-key="log/23-september-2017">
                <label class="label-inline">23</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/24-september-2017" class='log-entry' data-key="log/24-september-2017">
                <label class="label-inline">24</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/25-september-2017" class='log-entry' data-key="log/25-september-2017">
                <label class="label-inline">25</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/26-september-2017" class='log-entry' data-key="log/26-september-2017">
                <label class="label-inline">26</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/27-september-2017" class='log-entry' data-key="log/27-september-2017">
                <label class="label-inline">27</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/28-september-2017" class='log-entry' data-key="log/28-september-2017">
                <label class="label-inline">28</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/29-september-2017" class='log-entry' data-key="log/29-september-2017">
                <label class="label-inline">29</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/30-september-2017" class='log-entry' data-key="log/30-september-2017">
                <label class="label-inline">30</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
            <div id="log/31-september-2017" class='log-entry' data-key="log/31-september-2017">
                <label class="label-inline">31</label>
                <input class="done" type="checkbox">
                <input class="comment input-inline" type="text" value="">
            </div>
        </div>
    </div>
</body>
<script id="config"
data-config='{"thisMonth": 8, "thisYear": 2017, "thisMonthName": "september", "uid": "R8pkCghnFwfWZZohN4fuGkNxTQ62"}'
></script>
<nop><% include ../partials/footer.ejs %></nop>
</html>
